In [1]:
import pandas as pd
import numpy as np

In [85]:
df = pd.read_csv(r"C:\Users\Dell\Desktop\score_esg_industry.csv")

In [86]:
df[4:10]

,CIN,COMPANY_NAME,E_SCORE,S_SCORE,G_SCORE,ESG_classification
4,L40106GJ2015PLC082007,Adani Green Energy Limited,0.287,0.272,0.530,NaN
5,L63090GJ1998PLC034182,Adani Ports and Special Economic Zone Ltd.,0.597,0.416,0.684,utilities
6,L40300GJ2013PLC077803,Adani Transmission Limited (“ATL / the Company”),0.519,0.325,0.500,NaN
7,L24200MH1989PLC051018,Advanced Enzyme Technologies Limited,0.384,0.498,0.354,NaN
8,L65990MH1994PLC080451,Affle (India) Limited,0.048,0.189,0.533,NaN
9,L24230MH1979PLC022059,Ajanta Pharma Limited,0.394,0.437,0.648,utilities

![img](.\a.jpeg)

In [87]:
compound_score_dc = {"energy" : (0.4, 0.4, 0.2),
                     "materials" : (0.1, 0.7, 0.2),
                     "industrials" : (0.2, 0.4, 0.4),
                     "consumer discretionary industry" : (0.1, 0.4, 0.5), #consumer discretionary industry
                     "consumer staples" : (0.4, 0.2, 0.4),
                     "health care" : (0.2, 0.5, 0.3),
                     "financials" : (0.1, 0.5, 0.4),
                     "information technology" : (0.2, 0.4, 0.4),
                     "telecom" : (0.25, 0.35, 0.4),
                     "utilities" : (0.4, 0.18, 0.42),
                     np.nan:(0, 0, 0)
                    }

In [88]:
df["compound_score"] = df.apply(lambda row: row['E_SCORE']*compound_score_dc[row["ESG_classification"]][0] + row['S_SCORE']*compound_score_dc[row["ESG_classification"]][1] + row['G_SCORE']*compound_score_dc[row["ESG_classification"]][2], axis=1)

In [90]:
df.to_csv(r"C:\Users\Dell\Desktop\compound_score.csv", index=False)

In [94]:
df

,CIN,COMPANY_NAME,E_SCORE,S_SCORE,G_SCORE,ESG_classification,compound_score
0,L31300KA1987PLC013543,3M INDIA LIMITED,0.215,0.133,0.520,NaN,0.0
1,L65922RJ2011PLC034297,Aavas Financiers Limited,0.170,0.317,0.253,NaN,0.0
2,L32202KA1949PLC032923,ABB INDIA LIMITED,0.581,0.484,0.591,NaN,0.0
3,L51100GJ1993PLC019067,Adani Enterprises Limited (“AEL or the Company”),0.583,0.493,0.613,NaN,0.0
4,L40106GJ2015PLC082007,Adani Green Energy Limited,0.287,0.272,0.530,NaN,0.0
...,...,...,...,...,...,...,...
164,L29150TG1930PLC000576,VST INDUSTRIES LIMITED,0.443,0.383,0.436,NaN,0.0
165,L27100GJ1995PLC025609,WELSPUN CORP LIMITED,0.386,0.415,0.566,NaN,0.0
166,L17110GJ1985PLC033271,Welspun India Limited,0.413,0.393,0.451,NaN,0.0
167,L32102KA1945PLC020800,Wipro Limited,0.385,0.341,0.747,NaN,0.0
168,L34103TN2004PLC054667,ZF COMMERCIAL VEHICLE CONTROL SYSTEMS INDIA LI...,0.434,0.472,0.577,NaN,0.0